<form class="panel panel-default" [formGroup]="traineeForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="panel-footer">
    <h3>Details</h3>
    <div class="form-group">
      <label>ID*</label>
      <input class="form-control" formControlName="id">      
      <div [hidden]="!traineeForm.get('id').hasError('required')" class="alert alert-danger">
          <div>Id is required.</div>
      </div> 
      <div *ngIf="isAdd" [hidden]="!traineeForm.get('id').hasError('notUnique')" class="alert alert-danger">
          <div>Id must be unique.</div>
      </div> 
    </div>
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" formControlName="name">  
    </div>
    <div class="form-group">
      <label>Grade</label>
      <input class="form-control" formControlName="grade">
    </div>  
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" formControlName="email">
      <div [hidden]="!traineeForm.get('email').hasError('isEmail')" class="alert alert-danger">
         <div>Email format should be 
          <small><b>joe@abc.com</b></small>.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Date Joined</label>
      <input type="date" class="form-control" formControlName="date">      
    </div>
    <div class="form-group">
      <label>Address</label>
      <input class="form-control" formControlName="address"> 
    </div>
    <div class="form-group">
      <label>City</label>
      <select formControlName="city" class="form-control">
            <option *ngFor="let city of cities">{{city}}</option>
        </select>
    </div>
    <div class="form-group">
      <label>Country</label>
      <select formControlName="country" class="form-control" >
            <option *ngFor="let country of countries">{{country}}</option>
        </select>
    </div>
    <div class="form-group">
      <label>ZIP</label>
      <input class="form-control" formControlName="zip" /> 
    </div>
    <div class="form-group">
      <label>Subject</label>
      <input class="form-control" formControlName="subject" /> 
    </div>
  </div>
</form>



