<nav >
    <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="handlePageChange($event)" maxSize="5">
        <ul class="pagination">
            <!--<li *ngIf="!p.isFirstPage()">
                <a (click)="p.setCurrent(1)">First</a>
            </li>--><!--
        --><li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
                <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                    <span >{{ page.label }}</span>
                </a>
                <a *ngIf="p.getCurrent() === page.value">
                    <span >{{ page.label }}</span>
                </a>
            </li><!--
        --><!--<li *ngIf="!p.isLastPage()">
                <a (click)="p.setCurrent(p.getLastPage())">Last</a>
            </li>-->
        </ul>
    </pagination-template>
</nav>
<!--*ngIf="!isPageDetails"-->
<!-- <div class="results-per-page">
    Results per page
    <a class="per-page" [ngClass]="{'current': config.itemsPerPage===5 }" (click)="changeItemsPerPage(5)">5</a>
    <a class="per-page" [ngClass]="{'current': config.itemsPerPage===10 }" (click)="changeItemsPerPage(10)">10</a>
    <a class="per-page" [ngClass]="{'current': config.itemsPerPage===20 }" (click)="changeItemsPerPage(20)">20</a>
    <a class="per-page" [ngClass]="{'current': config.itemsPerPage===50 }" (click)="changeItemsPerPage(50)">50</a>
</div> -->
<!--<div class="results-per-page" *ngIf="isPageDetails">
    Results per page
    <a class="per-page" [ngClass]="{'current': config.itemsPerPage===50 }" (click)="changeItemsPerPage(50)">50</a>
</div>-->
