
<div class="form-inline">
  <app-filter></app-filter>
  <button (click)="add()" class="btn btn-primary">Add</button>
  <button (click)="remove()" [disabled]="!isEdit" class="btn btn-default">Remove</button>
</div>
<div class="row">
  <div class="col-sm-12 col-md-7">
    <div class="row">
        <div class="col-xs-12">
          <custom-pagination #bottomPagination (pageChange)="pageChanged($event)" (itemsPerPageChange)="itemsPerPageChange($event)">
          </custom-pagination>
        </div>
        <div class="col-xs-12">
          <app-data-list [config]="config"></app-data-list> 
        </div>   
        <div class="col-xs-12">
         
        </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-5">
    <trainee #traineeForm [countries]="countries" [cities]="cities" [isAdd]="isAdd" [isEdit]="isEdit" [traineeItem]="trainee | async" (onSubmitted)="traineeAdded()"></trainee>
  </div>
</div>