<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Date</th>
      <th>Grade</th>
      <th>Subject</th>
    </thead>
    <tbody>
        <!-- *ngFor="let trainee of filteredTrainees | filterBy: userFilter | paginate: config" (click)="selectItem(trainee);" -->
        <tr *ngFor="let trainee of trainees | async | filterBy: userFilter | paginate: config" (click)="selectItem(trainee);">
          <td>{{trainee.id}}</td>
          <td>{{trainee.name}}</td>
          <td>{{trainee.date}}</td>
          <td>{{trainee.grade}}</td>
          <td>{{trainee.subject}}</td>
        </tr>
    </tbody>
  </table>
</div>