<!--The content below is only a placeholder and can be replaced.-->
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TraineeApp</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="/data" routerLinkActive="active">Data</a></li>
        <li><a routerLink="/analysis" routerLinkActive="active">Analysis</a></li>
        <li><a routerLink="/monitor" routerLinkActive="active">Monitor</a></li>           
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

